.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .label {
    text-align: center;
  }
  
  .length-value {
    display: block;
    margin-top: 5px;
  }
  
  .slider {
    width: 50%;
  }
  
  